*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0 15px;
  font-family: 'Roboto' , sans-serif;
  margin-top: 120px;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.main-header{
  margin-bottom: 14px;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #000;
  background-color: #fff;

}
.header-box{
  width: 1100px;
  height: 40px;
  display: flex;
  align-items: center;
}
.header-menu{
  display: flex;
  list-style-type: none;
}
.remmy-logo{
  margin-right: 64px;
}

/* button */
.btn-button{
  background: rgba(61, 85, 249, 1);
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
}
.header-button{
  padding: 10px 20px;
  margin-left: auto;
}
.main-button{
  padding: 18px 30px;
}
.btn-button:hover{
  position: relative;
  background: rgba(39, 58, 184, 1);
}
/* .btn-button::before{
  position: absolute;
  content: ("");
  width: 169px;
  height: 61px;
  outline-offset: 2px dashed rgba(61, 85, 249, 1);
  display: block;
  padding: 10px;
  z-index: -1; 
}
.btn-button:active , .btn-button::before{
  background: rgba(75, 87, 169, 1);
}
/* navigation */
.header-menu-doctor{
  margin-left: 40px;
  color: rgba(7, 19, 48, 1);
}
.header-menu-patients{
  color: rgba(7, 19, 48, 1);
}
.header-menu-doctor:hover, .header-menu-patients:hover, .header-menu-patients:focus, .header-menu-doctor:focus, .link:hover, .link:focus {
  border-bottom: 1px solid #000;
}
.header-menu-doctor:active, .header-menu-patients:active, .link:active{
  opacity: 0.6;
}

/* MAIN-section-1*/
.main-first-section{
  display: flex;
}
.main-section-paragraf{
  width: 450px;
}
.main-section-sarlavha{
  font-size: 43px;
  width: 460px;
  margin-bottom: 81px;
  margin-top: 125px;
}

/* section-2 */
.main-two-section{
  display: flex;
  margin-top: 234px;
}
.two-section-text{
  width: 389px;
  line-height: 46.67px;
  margin-top: 20px;
  margin-bottom: 26px;
}
.section-2-paragraf{
  width: 437px;
  margin: 0;
  margin-bottom: 31px !important;
}
.section-2-paragraf-2{
  width: 463px;   
}
.two-section-box2{
  margin: 0 177px 0 auto;
  margin-top: 70px;
}
/* section-3 */
.main-three-section{
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 188px;
}
.section-3-text{
  text-align: center;
  width: 700px;
  margin-bottom: 65px !important;
  line-height: 46.67px;
  font-size: 40px;
}
.three-section-box{
  margin-top: 100px;
}
.blue-circle{
  background: rgba(61, 85, 249, 1);
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 16px 16px 32px 0px rgba(7, 19, 48, 0.08);
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.text-section6{
  font-size:20px ;
  line-height: 32px;
  margin-bottom: 23px;
  margin-top: 24px;
}
.paragraf-section6{
  width: 534px;
  font-size: 18px;
  line-height: 32px;
}
.left-3section-box1, .left-3section-box2{
  margin-bottom: 113px;
}
.three-section-img  {
  margin-right: 160px;
  margin-left: 229px;
}
.section-3{
  margin-top: 420px;
}
/* section-4 */
.section4-header-paragraf{
  color: rgba(240, 188, 163, 1); 
  width: 693px;
  font-size: 27px;
  line-height: 56px; 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.section4-img{
  display: flex;
  justify-content: center;
}
.main-four-box{
  display: flex;
  margin-top: 154px;
}
.main-text-box1{
  width: 468px;
  margin-bottom: 31px;
  margin-top: 39px;
}
.main-text-box2{
  width: 439px;
}
.main-inner-box{
  margin-right: 162px;
  margin-left: auto;
  margin-top: 90px;
}
.mainfour-box1{
  display: flex;
  flex-direction: row-reverse;
}
.black-text4{
  width: 354px;
}
.main-text4{
  width: 429px;
}
.maintext4{
  width: 469px;
}
.mainfour-box1{
  display: flex;
  margin-right:  auto;
  margin-left: auto;
  margin-top: 200px;
}
.mainfour-box1 img{
  margin-right: 200px;
  margin-left: 219px;
}
.four-black-text{
  width: 428px;
  margin-bottom: 28px;
}
.mainfour-box2-text{
  margin-right:auto;
  margin-left: 226px;;
}
.mainfour-box2{
  display: flex;
  margin-top: 171px;
  margin-bottom: 200px;
}
.four-black-text{
  width: 428px;
  margin-top: 20px;
  margin-bottom: 26px;
}
.four-sectiontext{
  margin-bottom: 71px;
  margin-top: 6px;
  width: 468px;
  font-size: 12px;
}
.four-section-book, .main-text-section4 {
  font-size: 20px;
  color: rgba(7, 19, 48, 1);
  margin-bottom: 64px;
  
}
.four-section-book::before{
  content: url("../img/monitoring.png");
  margin-top: 5px;
  margin-right: 26px;
}
.main-text-section4::before{
  content: url("../img/discovering.png");
 margin-right: 26px;}
/* section-6 */

.section6-text{
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  
}
.main-section6-box h3{
  font-size: 40px;
  line-height: 46.67px;
  color: rgba(7, 19, 48, 1);
  margin-bottom: 33px;
  width: 472px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-section6-box p{
  font-size: 12px;
  line-height: 32.04px;
  width: 492px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.main-section-box3::before{
  content: url("../img/side.png");
  display: inline-block;
  background-color: rgba(61, 85, 249, 1);
}
.main-section-box4::before{
  content: url("../img/healthy.png");
  display: inline-block;
  width: 56px;
  height: 56px;
  
}
.main-section6-box2{
  margin-left: auto;
  margin-left: 129px;
  margin-right: auto;
}
.main-six-section{
  display: flex;
  margin-left: auto;
  margin-top: 112px;
}
/* section-7 */
.main-seven-section{
  margin-bottom: 158px;
}
.seven-section-box1 {
 text-align: center;
}
.seven-section-box1 h2{
  margin: 0;
  margin-top: 15px;
  margin-bottom: 31px;
}
.seven-section-box1 p{
  margin-bottom: 87.5px;
}
.seven-section-box2{
  display: flex;
  flex-wrap: wrap;
}
 .seven7-color:nth-child(1){ 
 background-color: rgba(127, 221, 240, 0.2); 
}
.section7-color:nth-child(2){
  background: rgba(95, 174, 236, 0.1);
}
.section7-color:nth-child(3){
  background: rgba(155, 120, 253, 0.08);
}
.section7-color:nth-child(4){
  background: rgba(239, 156, 208, 0.1);
}
.section7-color:nth-child(5){
  background: rgba(246, 132, 94, 0.1);
}
.section7-color:nth-child(6){
  background: rgba(249, 182, 94, 0.1);
}
.section7-color:nth-child(7){
  background: rgba(255, 221, 87, 0.1);
}
.section7-color:nth-child(8){
  background: rgba(171, 224, 80, 0.1);
}
.section7-color:nth-child(9){
  background: rgba(123, 207, 166, 0.1);
}
.section7-color:nth-child(10){
  background: rgba(247, 248, 252, 1);
  height: 104px !important;
  width: 535px !important;
} 
.section7-color span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 5px 10px;
}
.section7-color p{
  margin-top: 35px;
  color: rgba(7, 19, 48, 1);
}
.color-1 span{
  background-color: rgba(127, 221, 240, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(127, 221, 240, 0.2);

}
.color-2 span{
  background-color:rgba(95, 174, 236, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(95, 174, 236, 0.2);

}
.color-3 span{
  background-color: rgba(155, 120, 253, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(155, 120, 253, 0.2);
}
.color-4 span{
  background: rgba(239, 156, 208, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(239, 156, 208, 0.2);
}
.color-5 span{
  background: rgba(246, 132, 94, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(246, 132, 94, 0.2);
}
.color-6 span{
  background: rgba(249, 182, 94, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(249, 182, 94, 0.2);
}
.color-7 span{
  background: rgba(255, 221, 87, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(255, 221, 87, 0.2);
}
.color-8 span{
  background: rgba(171, 224, 80, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(171, 224, 80, 0.2);
}
.color-9 span{
  background: rgba(123, 207, 166, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(123, 207, 166, 0.2);

}
.color-10 span{
  background: rgba(181, 184, 193, 1);
  box-shadow: 0px 12.571399688720703px 24px 0px rgba(181, 184, 193, 0.2);
}


/* footer */

.footer-box{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(7, 19, 48, 0.05);
  padding: 83px 0;
  width: 1100px;
}
.footer-right-box ul{
  display: flex;
}
li{
  list-style: none;
}
.Terms, .Privacy{
  margin-right: 40px;
}
.link{
  text-decoration: none;
  color: rgba(7, 19, 48, 0.5);
  font-size: 15px;
}
.footer-text{
  font-size: 12px;
  line-height: 14.4px;
  color: rgba(7, 19, 48, 0.5);
  margin: 0;
}
/* dry */
.paragraf-remmy{
  line-height: 32.04px;
  margin: 0;
  font-size: 18px;
}
.blue-text{
  color: rgba(61, 85, 249, 1);
  font-size: 16px;
  line-height: 20px;
}
.black-text{
  font-size: 40px;
  color: rgba(7, 19, 48, 1);
  line-height: 46.67px;
  margin: 0 ;
}
.main-text{
  font-size: 18px;
  line-height: 32.04px;
  color: rgba(7, 19, 48, 1);
}
.section7-color{
  width: 158px;
  height: 104px;
  border-radius: 5px;
  margin: 0px 30px 32px 0px;
  padding: 16px 0px 0px 13px;
}